<!DOCTYPE html>
<html>
  <head>
    <title>SHL</title>
    <meta name="description" content="SHL">
    <link rel="stylesheet" href="/static/css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/bootstrap/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/static/css/shl.css">
    <script src="/static/js/jquery/jquery.min.js"></script>
    <script src="/static/js/bootstrap/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          {{{body}}}
        </div>
      </div>
    </div>
    <div class="source">Denna sida får data från <a href="https://www.shl.se/">SHL.se</a></div>
  </body>
</html>